@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<h2 id="external-login-title">Associate your @Model.ProviderDisplayName account.</h2>
<hr />

<p id="external-login-description" class="text-info">
    You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
    Please enter an email address for this site below and click the Register button to finish
    logging in.
</p>

<table>
    @foreach (var item in Model.Principal.Claims)
    {
        <tr>
            <td>@item.Type</td>
            <td>@item.Value</td>
        </tr>
    }
</table>
<form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="@Model.Input.Image" class="img-fluid rounded-start" alt="..." />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@Model.Input.Name</h5>
                    <p class="card-text">
                        ваша учетная запись подтверждена <strong>@Model.ProviderDisplayName</strong>
                    </p>
                    <p class="card-text">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" asp-for="Doctor">
                            <label class="form-check-label">
                                Зарегистрироваться в качестве врача
                            </label>
                        </div>
                    </p>
                    <p class="card-text">
                        <button type="submit" class="w-100 btn btn-primary">Зарегистрироваться</button>

                    </p>
                </div>
            </div>
        </div>
    </div>
</form>>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
